
.header{
    display:flex;
   background-color: darkslategrey;
    width:100%;
    height: 160px;
    position: static;
  }
  
  
  
  .logo {
    width: 100px;
    display: flex;
    position: relative;
    nav-left: 2px;
    border-radius: 80%;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
 
      .nav-bar {
        display: flex;
        justify-content:space-around;
        text-align: center;
        align-items: center;
        gap: 2rem; 
        padding: 1rem;
      }
      
      .nav-link {
        
        text-decoration: none;
        color: #efe7e7;
        font-size: 1.2rem;
        font-weight: bold;
        transition: color 0.3s ease;
      }
      
      .nav-link:hover {
        color: #4a8be0; 
      }

      .plantas-container {
        padding: 2rem;
        text-align: center;
      }
      
      .galeria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
      }
      
      .card {
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        padding: 1rem;
      }
      
      .card:hover {
        transform: scale(1.03);
      }
      
      .img-card {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
      }
      
      .planta {
        color: #efe7e7;
        font-size: 2rem;
        margin: 0.8rem 0 0.4rem;
      }
      
      .p {
        font-size: 1.2rem;
        color: #555555eb;
        margin-bottom: 0.5rem;
      }
      
      .span {
        display:contents;
    
        font-weight: bold;
        color: #3a863d;
        margin-bottom: 0.8rem;
      
      }
      
      .btn-agregar {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .btn-agregar:hover {
        background-color: #388e3c;
      }
      