*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  place-content: center;
}


body{
  background-image: url(/bienvenida.jpg);
}

.bienvenida{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  text-shadow: #181616 1px 2px;
  animation: colorChange  3s infinite;
}

  @keyframes colorChange {
      0% {
        color: rgb(255, 255, 255);
      }
      50% {
        color: rgb(66, 246, 30);
      }
      100% {
        color: rgb(21, 70, 27);
      }

    }

.greeting{
   display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  text-shadow: #181616 3px 2px;
  animation: colorChange  3s infinite;
}

  @keyframes colorChange {
      0% {
        color: rgb(255, 255, 255);
      }
      50% {
        color: rgb(110, 232, 175);
      }
      100% {
        color: rgb(47, 228, 19);
      }

    }



 